<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.btelman.controlsdk.hardware">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <application>
        <activity android:name=".activities.ChooseBluetoothActivity"/>
    </application>
</manifest>
